// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap {
	width: 550px;
	margin: 50px auto;
	border: 1px solid #C0CAD5;
	padding: 20px;
}

#messages {
}

#body {
	background: #FFFFFF;
	color: black;
	border: 1px solid #C0CAD5;
	width: 500px;
	min-height: 40px;
	padding: 3px 25px 3px 3px;
	padding-bottom: 5px;
	margin-bottom: 3px;
	outline: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	line-height: 150%;
	word-wrap: break-word;
	cursor: text;
}
.btn {
	margin-right: 10px;
}